<!DOCTYPE html>
<html>
<head>
    <title>Sacrament Meeting Planner</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="~/Styles/Planner.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <h1>Sacrament Meeting Planner</h1>
    </div>
    <div id="container">
        
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year Sacrament Meeting Planner
        </div>
    </div>
</body>
</html>
