@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Add Speaker";

    var meetingId = "";
    var Speaker = "";
    var Topic = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            meetingId = Request.QueryString["ID"];
        }
    }

    if (IsPost)
    {
        Validation.RequireField("Speaker", "You need at least one speaker");
        Validation.RequireField("Topic", "What is their topic?");

        Speaker = Request.Form["Speaker"];
        Topic = Request.Form["Topic"];

        meetingId = Request.Form["meetingId"];

        if (Validation.IsValid())
        {
            var db = Database.Open("Meetings");
            var insertCommand = "INSERT INTO Speaker (Name, Topic, MeetingID) VALUES(@0, @1, @2)";
            db.Execute(insertCommand, Speaker, Topic, meetingId);
            Response.Redirect("~/Speakers?id=" + meetingId);
        }
    }
}

<h2>Add Speakers</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Speaker Details</legend>

        <p>
            <label for="Speaker">Speaker:</label>
            <input type="text" name="Speaker" value="@Speaker" />
        </p>

        <p>
            <label for="Topic">Topic:</label>
            <input type="text" name="Topic" value="@Topic" />
        </p>

        <input type="hidden" name="meetingId" value="@meetingId" />

        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
</form>