html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 10pt;
    background-color: rgb(255, 255, 255);
    line-height: 1.6em;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
    color: #556;
}

#container {
    min-height: 100%;
    position: relative;
    left: 10%;
}

#header {
    padding: 8px;
    width: 100%;
    background-color: #556;
    color: White;
    text-align: center;
}

#main {
    width: 80%;
    padding: 8px;
    padding-bottom: 4em;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

#footer {
    width: 80%;
    height: 2em;
    padding: 8px;
    margin-top: -2em;
    background-color: #556;
    color: rgb(255, 255, 255);
}

.head {
    background-color: #fa3;
    font-weight: bold;
    font-size: 1em;
    color: #556;
}

.grid {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

    .grid th, .grid td {
        border-bottom: 1px solid #556;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        color: #556;
    }

        .grid th a {
            text-decoration: none;
            color: #556;
            font-size: 1.2em;
        }

            .grid th a:hover {
                text-decoration: underline;
            }

.alt {
    /* background-color: #c3bcdd;*/
    color: #000;
}

.selected {
    background-color: Yellow;
}

span.caption {
    width: 100px;
}

span.dataDisplay {
    font-weight: bold;
}

/*.editButton {
    background-color: #89b0ae;
    color: white;
    text-decoration: none;
    padding: inherit;
}

    .editButton:hover {
        background-color: #407076;
        text-decoration: underline;
    }*/



/*input[type=submit] {
    background-color: #b0c7c9;
    color: white;
    font-family: 'Karma', serif;
    cursor: pointer;
    border-radius: 5px;
}*/

    /*input[type=submit]:hover {
        background-color: #92a69f;
    }

    input[type=submit].deletePageButton {
        border-radius: 5px;
        padding: 5px;
    }

        input[type=submit].deletePageButton:hover {
            background-color: red;
            border-color: red;
        }*/

/* Add a Plan Button */

p a {
    margin-top: 30px;
    background-color: #bbc;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    transition: .25s;
}

p a:hover {
    font-size: 1.25em;
    background-color: #556;
    color: white;
}

/* Form Buttons */
 
td a {
    background-color: #bbc;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    transition: .25s;
}
 
td a:hover {
    background-color: #556;
    color: white;
}

/* Details Page */
.details {
    float: right;
}

.detailPage {
    margin: auto;
    width: 70%;
}


@media(min-width: 800px) {
    
}
